
h1,h2,h3,h4{
  font-family: 'Space Mono', monospace !important;
  font-weight: 700 !important;
}

h1 {
  padding: .3em;
}

header, .btn-info{
  background-color: black !important;
}

body{
  font-family: 'Work Sans', sans-serif !important;
}


.list-header {
  background-color:black;
}

a > i {
  color: #512DA8;
  font-size: 25px;
  padding-right: 15px;
}

logo.logo {
  color: red !important;
}

a:hover {
  text-decoration: none !important;
}

.delete-btn:hover{
  color: red; 
}

.plus-btn{
  line-height: 40px;
  font-size: 25px;
}

.item-title {
  border: none;
  margin-right: 10px;
}

.item-title:focus, textarea:focus {
  outline: none;
}

input::placeholder, 
textarea::placeholder,
input[type = 'date'],
select, 
option,label {
  color: lightslategray !important;
  font-size: smaller !important;
}

.sh{
  // background: linear-gradient(to right, #cc2b5e, #753a88);
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.vh-100{
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

textarea{
  background-color: rgba(206, 206, 198, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.project-name {
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
}

form:hover, input:hover {
  cursor: pointer;
}
